# Creating and Backtesting simple Momentum/Contrarian Strategies

## Getting the Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [5]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\augan\anaconda3\envs\algotrading\lib\site-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\augan\anaconda3\envs\algotrading\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\augan\anaconda3\envs\algotrading\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\augan\anaconda3\envs\algotrading\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\augan\anaconda3\envs\algotrading\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
data = pd.read_csv("intraday.csv", parse_dates = ["time"], index_col = "time")

In [4]:
data.head(50)

                              price
time
2018-01-01 22:00:00+00:00  1.201205
2018-01-02 04:00:00+00:00  1.207055
2018-01-02 10:00:00+00:00  1.204440
2018-01-02 16:00:00+00:00  1.205800
2018-01-02 22:00:00+00:00  1.204690
2018-01-03 04:00:00+00:00  1.203825
2018-01-03 10:00:00+00:00  1.202355
2018-01-03 16:00:00+00:00  1.201445
2018-01-03 22:00:00+00:00  1.201450
2018-01-04 04:00:00+00:00  1.204300
2018-01-04 10:00:00+00:00  1.207440
2018-01-04 16:00:00+00:00  1.206830
2018-01-04 22:00:00+00:00  1.207470
2018-01-05 04:00:00+00:00  1.204600
2018-01-05 10:00:00+00:00  1.203645
2018-01-05 16:00:00+00:00  1.202970
2018-01-07 22:00:00+00:00  1.203265
2018-01-08 04:00:00+00:00  1.198990
2018-01-08 10:00:00+00:00  1.197530
2018-01-08 16:00:00+00:00  1.196870
2018-01-08 22:00:00+00:00  1.197190
2018-01-09 04:00:00+00:00  1.193855
2018-01-09 10:00:00+00:00  1.192970
2018-01-09 16:00:00+00:00  1.193690
2018-01-09 22:00:00+00:00  1.194185
2018-01-10 04:00:00+00:00  1.193890
2018-01-10 10:00:00+00:00  1.198300
2018-01-10 16:00:00+00:00  1.194740
2018-01-10 22:00:00+00:00  1.195365
2018-01-11 04:00:00+00:00  1.194770
2018-01-11 10:00:00+00:00  1.204915
2018-01-11 16:00:00+00:00  1.203205
2018-01-11 22:00:00+00:00  1.205165
2018-01-12 04:00:00+00:00  1.212530
2018-01-12 10:00:00+00:00  1.214820
2018-01-12 16:00:00+00:00  1.219680
2018-01-14 22:00:00+00:00  1.220010
2018-01-15 04:00:00+00:00  1.226040
2018-01-15 10:00:00+00:00  1.225980
2018-01-15 16:00:00+00:00  1.226365
2018-01-15 22:00:00+00:00  1.225730
2018-01-16 04:00:00+00:00  1.223320
2018-01-16 10:00:00+00:00  1.222960
2018-01-16 16:00:00+00:00  1.226070
2018-01-16 22:00:00+00:00  1.226720
2018-01-17 04:00:00+00:00  1.223655
2018-01-17 10:00:00+00:00  1.224275
2018-01-17 16:00:00+00:00  1.218540
2018-01-17 22:00:00+00:00  1.217985
2018-01-18 04:00:00+00:00  1.221435

In [ ]:
data.info()

In [ ]:
data.plot(figsize = (12, 8), title = "EUR/USD", fontsize = 12)
plt.show()

In [ ]:
data.loc["2019-06"].plot(figsize = (12, 8), title = "EUR/USD", fontsize = 12)
plt.show()

In [ ]:
data["returns"] = np.log(data.div(data.shift(1)))

In [ ]:
data.dropna(inplace = True)

In [ ]:
data

## Defining a simple Contrarian Strategy (window = 3)

In [ ]:
window = 3

In [ ]:
data

In [ ]:
data["returns"].rolling(window).mean()

In [ ]:
data["position"] = -np.sign(data["returns"].rolling(window).mean()) # contrarian (minus sign)

In [ ]:
data

## Vectorized Strategy Backtesting

In [ ]:
data["strategy"] = data.position.shift(1) * data["returns"]

In [ ]:
data

In [ ]:
data.dropna(inplace = True)

In [ ]:
data

In [ ]:
data[["returns", "strategy"]].sum()

In [ ]:
data[["returns", "strategy"]].sum().apply(np.exp)

In [ ]:
data["creturns"] = data["returns"].cumsum().apply(np.exp)
data["cstrategy"] = data["strategy"].cumsum().apply(np.exp)

In [ ]:
data

In [ ]:
data[["creturns", "cstrategy"]].plot(figsize = (12 , 8),
                                     title = "EUR/USD | Window = {}".format(window), fontsize = 12)
plt.show()

## Changing the window parameter

In [ ]:
data = pd.read_csv("intraday.csv", parse_dates = ["time"], index_col = "time")

In [ ]:
data

In [ ]:
data["returns"] = np.log(data.div(data.shift(1)))

In [ ]:
data.dropna(inplace = True)
data

In [ ]:
to_plot = ["returns"]

In [ ]:
for w in [1, 2, 3, 5, 10]:
    data["position{}".format(w)] = -np.sign(data["returns"].rolling(w).mean())
    data["strategy{}".format(w)] = data["position{}".format(w)].shift(1) * data["returns"]
    to_plot.append("strategy{}".format(w))

In [ ]:
data

In [ ]:
to_plot

In [ ]:
data[to_plot].dropna().cumsum().apply(np.exp).plot(figsize = (12, 8))
plt.title("DJI Intraday - 6h bars", fontsize = 12)
plt.legend(fontsize = 12)
plt.show()

In [ ]:
data

## Trades and Trading Costs (Part 1)

In [ ]:
data = pd.read_csv("intraday.csv", parse_dates = ["time"], index_col = "time")

In [ ]:
window = 3

In [ ]:
data["returns"] = np.log(data.div(data.shift(1)))

In [ ]:
data["position"] = -np.sign(data["returns"].rolling(window).mean())

In [ ]:
data["strategy"] = data.position.shift(1) * data["returns"]

In [ ]:
data

In [ ]:
data.dropna(inplace = True)

In [ ]:
data["creturns"] = data["returns"].cumsum().apply(np.exp)
data["cstrategy"] = data["strategy"].cumsum().apply(np.exp)

In [ ]:
data

In [ ]:
data.loc[:, "position"].plot(figsize = (12 , 8))
plt.show()

In [ ]:
data.loc["2019-06", "position"].plot(figsize = (12 , 8))
plt.show()

__Trading/Transaction Costs__ (simplified)

In [ ]:
spread = 1.5 * 0.0001 # pips == fourth price decimal
spread

In [ ]:
half_spread = spread / 2 # absolute tc per trade (position change +-1)
half_spread

In [ ]:
ptc = half_spread / data.price.mean() # proportional tc per trade (position change +-1)
ptc

In [ ]:
ptc = 0.00007

In [ ]:
data

In [ ]:
data.position.diff().fillna(0).abs()

In [ ]:
data["trades"] = data.position.diff().fillna(0).abs()

In [ ]:
data

In [ ]:
data.trades.value_counts()

## Trades and Trading Costs (Part 2)

In [ ]:
data

In [ ]:
data["strategy_net"] = data.strategy - data.trades * ptc

In [ ]:
data["cstrategy_net"] = data.strategy_net.cumsum().apply(np.exp)

In [ ]:
data

In [ ]:
data[["creturns", "cstrategy", "cstrategy_net"]].plot(figsize = (12 , 8))
plt.show()